html,
body {
  height: 100%;
}
h1,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #f5f9ff;
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1 0 auto;
}

img {
  cursor: pointer;
}

.header-bg {
  background: #292929;
  margin-bottom: 30px;
}

.header-title h1 {
  font-family: 'MuseoModerno';
  font-size: 52px;
  padding: 20px 0;
  line-height: 1.14;
  color: #dee5ff;
  text-align: center;
}

.header-title h1 span {
  color: #596eb8;
}

.list {
  max-width: 1000px;
  margin: 0 auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 30px;
}

.form label {
  grid-column: 1 / -1;
  font-family: 'Fira Sans';
  font-size: 22px;
  font-weight: 400;
  color: #01071d;
  margin-bottom: 8px;
}

.form input {
  grid-column: 1;
  border: 1px solid #9baceb;
  background: #dee5ff;
  padding: 10px 20px;
  border-radius: 4px;
  width: 70%;
  font-size: 16px;
  font-family: 'Fira Sans';
  color: #01071d;
}

.btnAdd {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: none;
  padding: 10px;
}

.btnAdd img {
  width: 30px;
}

.list-content {
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.list-ul li {
  max-width: 920px;
  background: #dee5ff;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-ul li:last-child {
  margin-bottom: 0px;
}

.list-ul li span {
  font-size: 18px;
  font-family: 'Fira Sans';
  color: #01071d;
  overflow: hidden;
  box-sizing: border-box;
}

.botoes {
  display: flex;
  gap: 40px;
}

.salvar {
  background: #dee5ff;
  border: 1px solid #9baceb;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  color: #01071d;
  font-family: 'Fira Sans';
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.remover {
  background: #dee5ff;
  border: 1px solid #9baceb;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0px 10px;
  cursor: pointer;
  color: #01071d;
  font-family: 'Fira Sans';
  text-transform: uppercase;
  font-weight: 600;
}

.footer {
  flex-shrink: 0;
  background: #292929;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 20px;
  box-sizing: border-box;
}

.footer p {
  font-family: 'Fira Sans';
  color: #bbb;
  font-size: 18px;
}

.dev {
  font-family: 'MuseoModerno';
  color: #9baceb;
}

.footer-links {
  display: flex;
  gap: 10px;
}

.footer-links a img {
  width: 30px;
}

.fetch-bitcoin {
  display: flex;
  align-items: center;
  color: #dee5ff;
  font-family: 'Fira Sans';
}

.fetch-bitcoin img {
  cursor: default;
}

.arrow {
  margin: 0px 20px;
}

@media (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .form input {
    margin-top: 0 auto;
    align-self: center;
  }

  .btn {
    position: initial;
    width: 80px;
    margin: 15px auto;
  }

  .botoes {
    flex-direction: column;
    gap: 15px;
    margin: 0 auto 30px auto;
  }

  .footer {
    flex-direction: column;
    gap: 10px;
  }

  .salvar {
    width: 100px;
    margin: 0 auto;
  }

  .remover {
    width: 180px;
    margin: 0 auto;
  }
}
