h1,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: #f5f9ff;
}

img {
  cursor: pointer;
}

.header-bg {
  background: #292929;
  margin-bottom: 30px;
}

.header-title h1 {
  font-family: 'MuseoModerno';
  font-size: 52px;
  padding: 20px 0;
  line-height: 1.14;
  color: #dee5ff;
  text-align: center;
}

.header-title h1 span {
  color: #596eb8;
}

.list {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.form {
  margin-bottom: 30px;
}

.form label {
  display: block;
  font-family: 'Fira Sans';
  font-size: 22px;
  font-weight: 400;
  color: #01071d;
  margin-bottom: 8px;
}

.form input {
  display: inline-block;
  border: 1px solid #becbfa;
  background: #dee5ff;
  padding: 10px 20px;
  border-radius: 4px;
  width: 70%;
  font-size: 16px;
  font-family: 'Fira Sans';
  color: #01071d;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Fira Sans';
  text-transform: uppercase;
  color: #01071d;
  border-radius: 4px;
  border: 1px solid #becbfa;
  background: #dee5ff;
  cursor: pointer;
  margin-right: 0;
  position: absolute;
  right: 0;
}

.list-content {
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.list-ul li {
  max-width: 920px;
  background: #dee5ff;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-ul li:last-child {
  margin-bottom: 0px;
}

.list-ul li span {
  font-size: 18px;
  font-family: 'Fira Sans';
  color: #01071d;
  overflow: hidden;
  box-sizing: border-box;
}

.botoes {
  display: flex;
  margin-bottom: 30px;
  gap: 40px;
}

.salvar {
  background: #becbfa;
  border: 1px solid #9baceb;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  color: #01071d;
  font-family: 'Fira Sans';
  cursor: pointer;
}

.remover {
  background: #dee5ff;
  border: 1px solid #becbfa;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
  color: #01071d;
  font-family: 'Fira Sans';
}

@media (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .form input {
    margin-top: 0 auto;
    align-self: center;
  }

  .btn {
    position: initial;
    width: 80px;
    margin: 15px auto;
  }

  .botoes {
    flex-direction: column;
    gap: 15px;
    max-width: 60%;
    margin: 0 auto;
  }
}
